################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/repository,restaurant/v16/Browse.VC.db
/.vs/repository,restaurant/v16/Browse.VC.db-shm
/.vs/repository,restaurant/v16/Browse.VC.opendb
/.vs/repository,restaurant/v16/ipch/AutoPCH/4e6d98459d49204b/CLIENT.ipch
/.vs/repository,restaurant/v16/ipch/AutoPCH/165e85113b637b38/STAFFREPOSITORY.ipch
/.vs/repository,restaurant/v16/Browse.VC.db-wal
/.vs/repository,restaurant/v16/ipch/AutoPCH/a49ddd8965e635bc/STAFF.ipch
/.vs/repository,restaurant/v16/ipch/AutoPCH/a591a5eb1d576864/REPOSITORY.ipch
/.vs/repository,restaurant/v16/ipch/AutoPCH/b47d0ec4611772df/COMMAND.ipch
/.vs/repository,restaurant/v16/ipch/AutoPCH/72a72b01037f4819/PROVIDERREPOSITORY.ipch
/.vs/repository,restaurant/v16/.suo
*.user
*.filters
*.vcxproj
*.sln
/.vs/repository,restaurant/v16/ipch/AutoPCH/562a561e76a49937/CLIENTREPOSITORY.ipch
/Debug/Client.obj
/Debug/ClientRepository.obj
/Debug/Command.obj
/Debug/main.obj
/Debug/Provider.obj
/Debug/ProviderRepository.obj
/Debug/reposito.ae09a953.tlog/CL.command.1.tlog
/Debug/reposito.ae09a953.tlog/CL.read.1.tlog
/Debug/reposito.ae09a953.tlog/CL.write.1.tlog
/Debug/reposito.ae09a953.tlog/link.command.1.tlog
/Debug/reposito.ae09a953.tlog/link.read.1.tlog
/Debug/reposito.ae09a953.tlog/link.write.1.tlog
/Debug/reposito.ae09a953.tlog/repository,restaurant.lastbuildstate
/Debug/repository,restaurant.exe
/Debug/repository,restaurant.exe.recipe
/Debug/repository,restaurant.ilk
/Debug/repository,restaurant.log
/Debug/repository,restaurant.pdb
/Debug/repository,restaurant.vcxproj.FileListAbsolute.txt
/Debug/Repository.obj
/Debug/Restaurant.obj
/Debug/RestaurantRepository.obj
/Debug/Staff.obj
/Debug/StaffRepository.obj
/Debug/vc142.idb
/Debug/vc142.pdb
/.vs/repository,restaurant/v16/ipch/AutoPCH/1350d80483608c99/MAIN.ipch
/.vs/repository,restaurant/v16/ipch/AutoPCH/2bf3ee8b4bb5af5/STAFFREPOSITORY.ipch
/.vs/repository,restaurant/v16/ipch/AutoPCH/3846879e1cf1c5f2/MAIN.ipch
/.vs/repository,restaurant/v16/ipch/AutoPCH/67f7bfcffd2458d3/REPOSITORY.ipch
/.vs/repository,restaurant/v16/ipch/AutoPCH/6ac8c838e90d8eb7/RESTAURANTREPOSITORY.ipch
/.vs/repository,restaurant/v16/ipch/AutoPCH/83711e3cf1b5a089/PROVIDER.ipch
/.vs/repository,restaurant/v16/ipch/AutoPCH/9cf2495d449182b4/CLIENT.ipch
/.vs/repository,restaurant/v16/ipch/AutoPCH/a0a724e0fcab60f4/RESTAURANT.ipch
/.vs/repository,restaurant/v16/ipch/AutoPCH/e8b9f7ed795269cb/RESTAURANT.ipch
/.vs/repository,restaurant/v16/ipch/AutoPCH/ed92e2af10102bb2/PROVIDERREPOSITORY.ipch
*.ipch
/.vs/repository,restaurant/v16/Solution.VC.db
/.vs/repository,restaurant/v16/Solution.VC.db-shm
/.vs/repository,restaurant/v16/Solution.VC.db-wal
/Debug/reposito.ae09a953.tlog/Lib.command.1.tlog
/Debug/reposito.ae09a953.tlog/Lib-link.read.1.tlog
/Debug/reposito.ae09a953.tlog/Lib-link.write.1.tlog
/Debug/repository,restaurant.Build.CppClean.log
/Debug/repository,restaurant.idb
/Debug/repository,restaurant.lib
/Debug/RestaurantAdmin.pdb
/Debug/RestaurantAdmin.ilk
/Debug/RestaurantUser.ilk
/Debug/RestaurantUser.pdb
/Debug/repository,restaurant.lib.recipe
